@layer reset, global, module, layout, util;

@layer reset {
  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }

  button {
    font-family: inherit;
    font-size: inherit;
  }

  body {
    margin: unset;
  }
}

@layer global {
  :root {
    --green: hsl(145, 81%, 33%);
    --dark-green: hsl(126, 72%, 29%);
    --red: hsl(12, 100%, 55%);
    --yellow: hsl(49, 100%, 65%);
    --blue: hsl(182, 92%, 61%);

    --gray-100: hsl(0, 0%, 99.20%);
    --gray-200: hsl(0, 0%, 97.30%);
    --gray-300: hsl(0, 0%, 93.70%);
    --gray-400: hsl(0, 0%, 88.20%);
    --gray-500: hsl(0, 0%, 78.40%);
    --gray-600: hsl(0, 0%, 66.70%);
    --gray-700: hsl(0, 0%, 57.30%);
    --gray-800: hsl(0, 0%, 50.20%);
    --gray-900: hsl(0, 0%, 45.10%);

    --primary: #3EEE00;
    --danger : #F00;
  }

  body {
    font-family: Roboto, Helvetica, Arial, Ubuntu, 'Noto Naskh Arabic', sans-serif;
    background-color: var(--gray-100);
  }
}

@layer layout {
  #question-page {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100svh;

    .question-ctrl {
      height: 4rem;
      margin-top: auto;
      font-size: 1.2rem;
    }

    .excerpt {
      block-size: 50svh;
      margin-bottom: 0.2em;
    }

    .prompt {
      font-size: 1.5rem;
      margin-block: 0;
    }

    .svowel-options {
      padding-top: 0.2em;
      font-size: 1.4rem;
    }
  }
}

@layer module {
  .nav {
    padding: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: center;
  }

  .arareader-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--primary);
    color: #fff;
    border-radius: 25%;
    block-size: 3rem;
    inline-size: 3rem;
    filter: drop-shadow(0 3px 3px rgba(0, 0, 0, 0.25));
    font-size: 1.5rem;
    font-family: "Permanent Marker", cursive;
  }

  .prompt {
    padding-inline: 1rem;
  }

  .excerpt {
    font-size: 2rem;
    direction: rtl;
    text-align: justify;
    padding-inline: 3rem;
    background-color: var(--gray-200);
    overflow: auto;
  }

  .highlight {
    background-color: rgb(85, 224, 255, 0.5);
  }

  .svowel-options {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 1rem;
    gap: 5px;
  }

  .btn {
    background-color: var(--gray-200);
    appearance: none;
    color: var(--green-950);
    border: none;
    font-weight: bold;
    font-size: inherit;

    &--primary {
      background-color: var(--dark-green);
      color: white;
    }

    &--shadow {
      box-shadow: 1px 1px 2px var(--gray-900);
    }
  }

  .question-ctrl {
    display: flex;

    & > * {
      flex: 1;
    }

    &__first {
      border-start-start-radius: 40%;
    }

    &__last {
      border-start-end-radius: 40%;
    }
  }

  .question-ctrl > * {
    flex: 1;
  }
}

@layer util {
  .stack > *+* {
    margin-block-start: 1.5rem;
  }
}
